*, *::after, *::before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.grid::after {
	clear: both;
	display: block;
	content: " ";
}

[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.col-2of10 {
	width: 20%;
}

.col-3of10 {
	width: 30%;
}

.col-4of10 {
	width: 40%;
}

.col-5of10 {
	width: 50%;
}

.col-6of10 {
	width: 60%;
}

.col-7of10 {
	width: 70%;
}

.col-8of10 {
	width: 80%;
}

.col-9of10 {
	width: 90%;
}

.col-10of10 {
	width: 100%;
}

.col-3of12 {
	width: 25%;
}

.col-4of12 {
	width: 33.333333%;
}

.col-8of12 {
	width: 66.666666%;
}

.col-9of12 {
	width: 75%;
}

.col-12of12 {
	width: 100%;
}

@media(max-width: 73.25em) {
	#about-detail > .grid > .col-6of10,
	#about-detail > .grid > .col-4of10 {
		width: 50%;
	}
	#about-detail .blogpost .blogpost-media {
		margin: 0;
	}
	#about-detail .blogpost .blogpost-text h3 {
		margin-top: 0;
	}
}

@media(max-width: 69.68em) {
	#products-list .col-9of12 .col-4of12 {
		width: 50%;
	}
}

@media(max-width: 67.3125em) {
	#main-nav .col-6of10 {
		width: 100%;
	}
}

@media(max-width: 65.375em) {
	#about-detail > .grid > .col-6of10 {
		width: 70%;
	}
	#about-detail > .grid > .col-4of10 {
		width: 30%;
	}
	#about-detail .blogpost .blogpost-media img {
		max-width: 6em;
		max-height: 6em;
	}
	#about-detail .blogpost .blogpost-text p {
		display: none;
	}
}

@media(max-width: 63.25em) {
	#about-detail > .grid > .col-6of10,
	#about-detail > .grid > .col-4of10 {
		width: 100%;
	}

	#about-detail .blogpost .col-4of10 {
		width: 20%;
	}
	#about-detail .blogpost .col-6of10 {
		width: 80%;
	}

	#about-detail .blogpost .blogpost-text p {
		display: block;
	}

	#about-detail .blogpost h3 {
		font-size: 2em;
	}

	#product-detail .col-6of10,
	#product-detail .col-4of10 {
		width: 50%;
	}
}

@media(max-width: 59.0625em) {
	#payment-detail .col-6of10,
	#payment-detail .col-4of10 {
		width: 100%;
	}
}

@media(max-width: 48.8125em) {
	#product-detail .col-6of10,
	#product-detail .col-4of10 {
		width: 100%;
	}
	#product-detail .col-4of10 .text-box {
		text-align: center;
	}
	.service-feature-box .col-4of12 {
		width: 50%;
	}
	.service-feature-box .grid .col-4of12:last-child,
	.service-feature-box .grid .col-2of10:last-child {
		display: none;
	}
	.service-feature-box .col-2of10 {
		width: 25%;
	}
}

@media(max-width: 47.875em) {
	#products-list > .col-9of12 {
		width: 100%;
	}
	#products-list > .col-3of12 {
		width: 100%;
	}
}

@media(max-width: 42.5em) {
	.planter-box {
		display: none;
	}
	#footer-main .footer-feature h4 {
		font-size: 1.4em;
	}
	#footer-main .footer-feature img {
		width: 10em;
		height: 10em;
	}
	.service-feature-box .grid .col-2of10:nth-last-child(-n+2) {
		display: none;
	}
	.service-feature-box .col-2of10 {
		width: 33.33333%;
	}
	#products-list > .col-9of12 .col-4of12 {
		width: 100%;
	}
	#products-list .product-filter {
		padding-right: 0;
	}
}

@media(max-width: 41.5625em) {
	#main-nav .col-6of10 .col-4of10,
	#main-nav .col-6of10 .col-2of10 {
		width: 100%;
	}
	.hero-box .col-4of12 {
		width: 100%;
	}
	.hidden-sm {
		display: none;
	}
}

@media(max-width: 36.6875em) {
	#payment-detail .table input {
		width: 100%;
	}
	#payment-detail .table .quantity-toggle {
		width: 100%;
		margin: 0.5em auto;
	}
	#payment-detail .table .quantity-toggle-group input {
 		max-width: 100%;
 		text-align: center;
 		border: none;
	}
	.service-feature-box .col-4of12 {
		width: 100%;
	}
	.service-feature-box p {
		text-align: center;
		margin: 0 auto;
	}
	.service-feature-box .grid .col-4of12:last-child {
		display: block;
	}
}

@media(max-width: 36.5625em) {
	#footer-main .col-4of12 {
		width: 100%;
	}
}