/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Gafata", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  padding: 0;
  margin: 0;
}

#wrap {
  padding: 2rem;
  max-width: 80em;
  margin: 0 auto;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.btn, button, input[type='submit'] {
  display: inline-block;
  padding: 0.5em 0.75em;
  padding: 1em 1.2em;
  color: #666;
  background-color: #DDD;
  border: 3px solid #ddd;
  /*border-radius: 0.25em;*/
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
  text-align: center;
  font-weight: bold;
}

.btn:hover, .btn:focus {
  border: 3px solid #999                                      ;
  background-color: #999;
  color: #333;
}

.btn.btn-primary, button, input[type='submit'] {
  font-family: "Gafata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: 3px solid #DDD;
  background-color: #fff;
  color: #022211;
  
}

.btn.btn-primary:hover, button:hover, input[type='submit']:hover,
.btn.btn-primary:focus, button:focus, input[type='submit']:focus {
  border-color: #022211;
  background-color: #022211;
  color: #FFF;
  cursor: pointer;

}

.btn.btn-nav {
  background-color: #DFEDC8;
  border: 3px solid #DFEDC8;
}

.btn.btn-nav:hover,
.btn.btn-nav:focus {
  background-color: #022211;
  border: 3px solid #022211;
  color: #FFF;
}

.btn.btn-nav.active {
  background-color: #FFF;
  border-color: #00CC00;
  color: #666;
}

.btn.btn-block {
  width: 100%;
  display: block;
}

/* 
  TEXT ELEMENTS -------------------
*/
@font-face {
    font-family: 'MF';
    src: url(fonts/mf-bold.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  font-family: "Gafata", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  text-transform: uppercase;
}

p.lead {
  font-family: "Gafata", "Helvetica Neue", "Helvetica", "Arial", "Verdana" sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 2.5em auto;
  text-align: center;
}

h1 {
  font-family: "MF", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  margin-bottom: 0;
  color: #00CC00;
  font-size: 3rem;
}

.numeric-bullet {
  font-family: "MF";
  color: #00CC00;
  font-size: 2em;
}

a {
  color: #00CC00;
}

a:hover,
a:focus {
  color: #00FF00;
}

ul, ol {
  padding: 0.5em;
  padding-left: 2.5em;
  font-weight: bold;
  text-align: left;
}

ul {
  padding-left: 1.25em;
}

ul li {
  list-style-type: none;
}

ul li:before {
  content: "+";
  margin-right: 0.5em;
  color: #BBB;
}

p, ul, ol {
  max-width: 40em;
}

figure {
  max-width: 40em;
  text-align: left;
  padding: 0;
  margin: 2em 0;
  background-color: #CCC;
  padding: 0.25em;
}

figcaption {
  text-transform: italic;
  padding: 0.25em;
  color: #333;
}


/* ----------------------- FORMS ------------------------ */
form {
}

.form-group {
  margin-bottom: 0.5em;
}

.form-group:hover label {
  color: #000;
  -webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out;

}

.form-group label {
  margin-bottom: 0.25em;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  color: #076634;
}

input[type='text'],
input[type='email'],
textarea {
  font-size: 1em;
  width: 100%;
  max-width: 30em;
  border: 3px solid #DDD;
  padding: 1em 1.2em;
  background-color: #fff;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  background-color: #EEE;
  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}

input.error {
  border-color: #F00;
}

select {
  border: 0;
  height: 3.5em;
  line-height: 3.5em;
  border: 3px #DDD solid;
  padding: 0.5em;
  background-color: #FFF;
  font-size: 1em;
}

select option {
}

button, input[type='submit'] {
  color: #022211;
  border: 3px solid #DDD;
  font-size: 1em;
  margin: 0;
}


.form-actions {
  margin: 1rem auto;
  text-align: left;
}
.form-actions .btn {
  margin: 0;
}

/* 
  COMBINED ELEMENTS -------------------
*/


#header-main {
  border: thin #EEE solid;
}


#main-nav {
  padding: 0 1.5rem;
  max-width: 80em;
  margin: 0 auto;
}

#main-nav [class^='col-'] {
  padding: 0.3rem;
}

#main-nav .brand-box {
  text-align: center;
}

#main-nav .brand-box h2,
#main-nav .brand-box p {
  margin: 0;
}

#main-nav .nav-box {
  padding-top: 1.5em;
}

#main-nav .btn.btn-nav {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  margin: 0 auto;
  width: 10em;
  display: block;
  margin-bottom: 0.3em;
}

@media(min-width: 41.5625em) {
    #logo {
      margin: 0;
      margin-bottom: 0.3em;
    }

    #main-nav .brand-box {
      text-align: left;
      padding: 1rem 0.5rem;
    }

    #main-nav .nav-box {
      text-align: right;
      padding-top: 8.5em;
    }
}

/* ---------------------- INDEX ------------------------ */


.flexslider {
  margin: 0;
}

.flexslider ul, .flexslider ol {
  max-width: none;
  padding: 0;
}

.flexslider ul li {
  position: relative;
}

.flexslider ul li:before {
  content: none;
}

.flex-control-nav {
  margin: 1em;
  position: static;
  width: 100%;
}

.flex-caption {
  position: absolute;
  /*
  background: #FFF;
  border: 3px solid #DDD;
  */
  text-align: center;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
}


/* ---------------------------- SERVICES PANEL ----------------------------- */
#services-panel {
  text-align: left;
}

#services-panel section {
  margin-bottom: 8em;
}

#services-panel h3 {
  color: #00CC00;
  font-family: "MF", "Gafata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.service-box {
  margin: 2em auto;
  text-align: center;
}

.service-box h3 {
  font-size: 3em;
}

.service-text p {
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0 auto;
}

.service-feature-box p {
  text-align: left;
  padding-right: 2em;
}

.service-feature-box a {
  text-decoration: none;
}

/* ---------------------- PRODUCT LIST ------------------------ */
.product-feature,
.product-feature-side {
  text-align: left;
  padding: 1rem;
}

#products-list {
}

#products-list h4 {
  margin: 0.5em 0;
}

#products-list .price {
  font-family: "Helvetica Neue";
  font-weight: bold;
}

#products-list .col-2of10 {
  padding: 0.25rem;
}

#products-list .product-tile {
  border: thin transparent solid;
  border-radius: 0.1em;
  text-align: left;
  padding: 1rem;

  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}

#products-list .product-tile p {
  color: #666;
  max-width: 13em;
}

#products-list .category-fruits .product-tile:hover,
.product-tile:hover {
  border-color: #DFEDC8;
  background-color: #DFEDC8;
}

#products-list .category-veggies .product-tile:hover {
  border-color: #CCFFAA;
  background-color: #CCFFAA;
}

#products-list .link-tile {
  padding: 1rem;
}
#products-list .link-tile-content {
  background-color: #F7F7F7;
  border: thin transparent solid;
  border-radius: 0.1em;
  padding: 63.1% 0;
  font-size: 1.5em;

  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}

#products-list .link-tile-content:hover {
  background-color: #FFF;
  border-color: #FFCC00;
  font-size: 1.6em;
}

.pagination ul {
  max-width: 100%;
  list-style: none;
}

.pagination ul>li {
  display: inline-block;
  padding: 0 0.5em;
}

.pagination ul>li:before {
  content: none;
}

.pagination a{
  text-decoration: none;
}

.pagination a.active{
  text-decoration: underline;
}

/* ---------------------- PRODUCT LIST ------------------------ */
#product-list {
  padding-top: 1rem;
}

.product-item {
  margin-bottom: 2rem;
}

.product-filter {
  text-align: left;
  padding-right: 1em;
}

.product-filter label {
  border: 3px solid #DDD;
  padding: 1em;
}

.product-filter label:hover {
  cursor: pointer;
  background-color: #022211;
  border-color: #022211;
  color: #FFF;
}

/* ---------------------- PRODUCT DETAIL ------------------------ */
#product-detail {
}

#product-detail .hero-box p {
  text-align: left;
  padding-right: 2em;
}

#product-detail .product-customize .col-3of10 {
  padding-right: 1em;
}

.price-box {
  font-size: 2em;
  padding: 2em 0;
}

.price-box .numeric {
  color: #00CC00;
  font-family: "MF", "Gafata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
}

.price-box .description {
  font-size: 0.7em;
}

.product-review label {
  text-align: left;
}

.product-review input[type='text'],
.product-review input[type='email'],
.product-review textarea {
  max-width: 100%;
}

.product-review input[type='submit'] {
  float: left;
}

.product-review .product-rating {
  text-align: left;
}
/* ------------------------- PRODUCT DETAIL 2 (SEB) ----------------------------- */
#product-detail .planter-box {
  margin: 2.5em auto;
}

#product-detail .grid .text-box {
  padding: 1.5em;
  font-size: 1.2em;
  text-align: left;
}

#product-detail .grid .text-box-featured {
  text-align: center;
  font-size: 1.5em;
}

#product-detail .grid .text-box-featured p {
  margin: 0 auto;
}

#product-detail .order-box {
  text-align: center;
  margin: 4em auto;
}

#product-detail .order-box input[type="text"] {
  max-width: 10em;
  text-align: right;
}

/* ------------------------- ABOUT --------------------------- */
#about-detail section {
  text-align: left;
}

#about-detail .grid > [class^='col-'] {
  padding: 1rem;
}

.blogpost, .review {
  margin-bottom: 1rem;
  border: thin #CCC solid;
}

.blogpost:hover .blogpost-media img,
.review:hover .review-media img {
  border-color: #00CC00;
}

.blogpost .blogpost-media,
.review .review-media {
  margin: 1rem;
}

.blogpost .blogpost-media img,
.review .review-media img {
  border: 3px transparent solid;
}

.blogpost .blogpost-text,
.review .review-text {
  text-align: left;
  padding: 0.5em;
}


#contact-detail .grid form{
  text-align: left;
}

/* ------------------------ PAYMENTS ------------------------- */
.table {
  width: 100%;
  max-width: 40em;
  text-align: left;
  border-collapse: collapse;
}

.table tr {
  height: 1.8em;
}

.table td,
.table th {
  padding: 0.5em;
}

.table thead {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #00CC00;
}

.table tbody {
  background-color: #EEE;
}

.table tbody tr:nth-child(odd) {
  background-color: #DDD;
}

.quantity-toggle-group input {
  padding: 0.5em;
  max-width: 4em;
  width: auto;
  text-align: right;
}

.quantity-toggle {
  display: inline-block;
  text-align: center;
  border-radius: 0.25em;
  background-color: #FFF;
  padding: 0.5em 0.75em;
  margin: 0.25em;
}

.quantity-toggle:hover {
  cursor: pointer;
  background-color: #00CC00;
  color: #FFF;
}

.payment-reminders {
  border: thin #CCC solid;
  text-align: left;
  padding: 0 1rem;
}

.payment-reminders h2 {
  margin: 0.3em;
}

#payment-detail .grid [class^='col-'] {
  padding: 0.5rem;
}

.order-form {

}

.payment-form {
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.payment-form.collapsed {
  overflow: hidden;
  height: 10em;
  opacity: 0.25;
}


/* ------------------------- FOOTER --------------------------- */
#footer-main {
  margin-top: 3em;
  background-color: #DFEDC8;
}

#footer-main a {
  color: #DFEDC8;
}

#footer-main a:hover {
  color: #00FF00;
}

.footer-row {
  padding: 2.5em;
  max-width: 60em;
  margin: 0 auto;
}

.footer-row .footer-feature {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.footer-row .footer-feature h4 {
  margin: 0.25em 0;
  font-size: 2em;
  font-family: "MF", "Gafata", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  color: #00CC00;
}

.footer-row .footer-feature p {
  max-width: 12.5em;
  text-align: left;
  margin: 0 auto;
}

.footer-citations {
  padding: 0.5em;
  background-color: #022211;
  text-align: center;
}
.footer-citations h4 {
  margin: 0;
}

.footer-social {
  background-color: #333;
}

.footer-social .footer-row,
.footer-contact .footer-row {
  max-width: 30em;
  padding: 0.5em;
}

.footer-social .footer-row a {
  text-decoration: none;
  padding: 1em auto;
  display: block;
  margin-top: 0.5em;
}


.footer-contact {
  text-align: center;
  background-color: #222;
  color: #FFF;
}

.footer-contact .footer-row h4 {
  margin: 0;
}