<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/holder.min.js"></script>

		<title>About</title>	
	</head>

	<body>
	    <nav id="main-nav">
        	<div class="grid">
        		<div class="col-2of10 brand-box">
            		<h2>Brand</h2>
               		<p>Lorem ipsum dolor sit amet.</p>
            	</div>
            	<div class="col-8of10 nav-box">
            		<div class="grid">
              			<div class="col-4of10">
              				<input type="text" placeholder="Search...">
              			</div>
              			<div class="col-2of10">
              				<a href="#" class="btn btn-nav btn-block">About</a>
              			</div>
              			<div class="col-2of10">
              				<a href="#" class="btn btn-nav btn-block">Packages</a>
              			</div>
              			<div class="col-2of10">
              				<a href="#" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> My cart</a>
              			</div>
              		</div>
             	</div>
          	</div>
        </nav>

		<div id="product-detail">
	        <h1>About us</h1>

			<div class="grid">
				<div class="col-6of10">
					<img src="holder.js/700x350" width="700" height="350">
				</div><!-- end .col-6of10 -->
				<div class="col-4of10">
					<div class="text-box">
						<h2>Treat your guests</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam dicta asperiores nihil nostrum, sunt maxime aut, eum voluptates, esse aliquam distinctio tempora ipsum quaerat saepe libero tenetur optio ipsa!</p>
					</div><!-- end .text-box -->
				</div><!-- end .col-4of10 -->
			</div><!-- end .grid -->





		</div>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>