<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/holder.min.js"></script>

		<title>About us</title>	
	</head>

	<body>
		<header id="header-main">
		    <nav id="main-nav">
	        	<div class="grid">
	        		<div class="col-4of10 brand-box">
	            		<h2><a href="index.html">Brand</a></h2>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<input type="text" placeholder="Search...">
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> My cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div id="about-detail">
		        <h1>About us</h1>
		        <div class="grid">
					<div class="col-12of12">
						<img src="holder.js/1225x300" width="1200" height="300" alt="Company office">
					</div>
				</div>

				<div class="grid">
					<div class="col-6of10">
						<section id="about-ourstory">
							<h2>Our Story</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nemo quos quas illum nam voluptas, veritatis ut delectus necessitatibus. Eveniet, dolor atque nobis provident ducimus vitae porro necessitatibus dolorem optio sit dicta quasi saepe, eaque deleniti accusamus expedita eum! Ea debitis eveniet dolor repudiandae, quae aspernatur ullam quam veritatis laudantium temporibus, doloremque. Sapiente quas eveniet aliquid veniam facere quos, deleniti quidem, autem aliquam quae veritatis dicta voluptatibus necessitatibus optio.</p>
						</section>

						<section id="about-craft">
							<h2>Crafting Memories</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sapiente, tempore maxime voluptatum hic aliquid dolorem ipsa sed earum autem recusandae dignissimos officiis praesentium dolore rerum fuga excepturi quaerat iste rem nostrum consequatur perspiciatis quos deserunt dolor! Libero odio nesciunt possimus commodi officia facilis. Sequi, qui. Iure asperiores, qui cumque.</p>
						</section>

						<figure>
							<img src="holder.js/700x350/" width="700" height="350">
							<figcaption>Our team working hard at our shop.</figcaption>
						</figure>
					</div>

					<div class="col-4of10">
						<section id="blogroll">
							<h2>Keep up with our latest news</h2>
							<section class="blogpost">
								<div class="grid">
									<div class="col-4of10">
										<div class="blogpost-media">
											<a href="#">
												<img src="holder.js/150x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="blogpost-text">
											<h3>Blog Post 3</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates, quaerat minus doloribus vero accusantium? Quae modi, quia in ... <a href="#">Read more <span class="fa fa-long-arrow-right"></span></a></p>
										</div>
									</div>
								</div>
							</section>
							<section class="blogpost">
								<div class="grid">
									<div class="col-4of10">
										<div class="blogpost-media">
											<a href="#">
												<img src="holder.js/150x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="blogpost-text">
											<h3>Blog Post 2</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates, quaerat minus doloribus vero accusantium? Quae modi, quia in ... <a href="#">Read more <span class="fa fa-long-arrow-right"></span></a></p>
										</div>
									</div>
								</div>
							</section>
							<section class="blogpost">
								<div class="grid">
									<div class="col-4of10">
										<div class="blogpost-media">
											<a href="#">
												<img src="holder.js/150x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="blogpost-text">
											<h3>Blog Post 1</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates, quaerat minus doloribus vero accusantium? Quae modi, quia in ... <a href="#">Read more <span class="fa fa-long-arrow-right"></span></a></p>
										</div>
									</div>
								</div>
							</section>
						</section>
					</div>
				</div>
			</div>

			<div id="contact-detail">
		        <h1>Contact us</h1>
		        <div class="grid">
					<div class="col-12of12">
						<!-- <img src="holder.js/1225x300" width="1200" height="300" alt="Company office"> -->
						<form method="get" action="#">
				          <div class="form-group">
				            <label for="form-1-1">Name</label>
				            <input id="form-1-1" type="text">
				          </div>
				          <div class="form-group">
				            <label for="form-1-2">Email</label>
				            <input id="form-1-2" type="email">
				          </div>
				          <div class="form-group">
				            <label for="form-1-3">Comment</label>
				            <textarea id="form-1-3" rows="4"></textarea>
				          </div>
				          <div class="form-group">
				            <label for="form-1-5">Submit/Reset</label>
				            <input id="form-1-5" type="submit" value="Submit">
				          </div>
				        </form>
					</div>
				</div>
			</div>
		</div>

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
			</div>
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4>Order today!</h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>