<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="../css/flexslider.css" type="text/css">
		<link rel="stylesheet" href="../css/main.css">
	    <link rel="stylesheet" href="../css/grid.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../js/jquery.flexslider-min.js"></script>
		<script src="../js/holder.min.js"></script>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Shop</title>	
	</head>

	<body>
		<header id="header-main" role="banner">
		    <nav id="main-nav" role="navigation">
	        	<div class="grid">
	        		<div class="col-4of10 brand-box">
	            		<h2><a href="index.html">Brand</a></h2>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<form id="search-form" action="#">
	              					<input role="search" type="text" name="search-box" placeholder="Search...">
	              				</form>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> Cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div>
				<h1>Say it with flowers:</h1>
		        <div class="grid">
					<div class="col-12of12">
						<div class="flexslider">
						  <ul class="slides">
						    <li>
						    	<a href="#">
						      		<img src="holder.js/1225x300?text=Weddings" width="1225" height="300" alt="Slide1">
						      		<p class="flex-caption">Custom Wedding Packages</p>
						      	</a>
						    </li>
						    <li>
						    	<a href="#">
						      		<img src="holder.js/1225x300?text=Anniversaries" width="1225" height="300" alt="Slide1">
						      		<p class="flex-caption">For your 2-year anniversary</p>
						      	</a>
						    </li>
						    <li>
						    	<a href="#">
						      		<img src="holder.js/1225x300?text=Gifts" width="1225" height="300" alt="Slide1">
						      		<p class="flex-caption">As a gift for graduates</p>
						      	</a>
						    </li>
						    <li>
						    	<a href="#">
						      		<img src="holder.js/1225x300?text=Slide4" width="1225" height="300" alt="Slide1">
						      		<p class="flex-caption">Feature Item 4</p>
						      	</a>
						    </li>
						  </ul>
						</div>
					</div>
				</div>

				<div class="grid">
					<div class="col-10of10">
						<section id="services-panel">
							<h2>How it works</h2>

							<section>
								<img src="../images/wedding-03.jpg">
								<div class="service-box">
									<h3>1. Pick an Occasion</h3>
									<div class="service-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nemo quos quas illum nam voluptas, veritatis ut delectus necessitatibus. Eveniet, dolor atque nobis provident ducimus vitae porro necessitatibus dolorem optio sit dicta quasi saepe, eaque deleniti accusamus expedita eum!</p>
									</div><!-- end .service-text -->
								</div><!-- end .service-box -->
								<div class="service-feature-box">
									<div class="grid">
										<div class="col-4of12">
											<a href="product.html">
												<h4>Weddings</h4>
												<img src="holder.js/400x300" alt="Wedding ceremony">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, praesentium, error? Libero ipsa, sed fugit.</p>
											</a>
										</div><!-- end .col-4of12 -->
										<div class="col-4of12">
											<a href="product.html">
												<h4>Anniversaries</h4>
												<img src="holder.js/400x300" alt="Wedding ceremony">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, praesentium, error? Libero ipsa, sed fugit.</p>
											</a>
										</div><!-- end .col-4of12 -->
										<div class="col-4of12">
											<a href="product.html">
												<h4>Special Someone</h4>
												<img src="holder.js/400x300" alt="Wedding ceremony">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, praesentium, error? Libero ipsa, sed fugit.</p>
											</a>
										</div><!-- end .col-4of12 -->
									</div><!-- end .grid -->
								</div><!-- end .service-feature-box -->
							</section>

							<section>
								<img src="../images/orchid-01.jpg">
								<div class="service-box">
									<h3>2. Find your Flowers</h3>
									<div class="service-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nemo quos quas illum nam voluptas, veritatis ut delectus necessitatibus. Eveniet, dolor atque nobis provident ducimus vitae porro necessitatibus dolorem optio sit dicta quasi saepe, eaque deleniti accusamus expedita eum!</p>
									</div><!-- end .service-text -->
								</div><!-- end .service-box -->
								<div class="service-feature-box">
									<div class="grid">
										<div class="col-2of10">
											<h4>Orchids</h4>
											<img src="holder.js/200x200" alt="Orchids">
										</div><!-- end .col-2of10 -->
										<div class="col-2of10">
											<h4>Orchids</h4>
											<img src="holder.js/200x200" alt="Orchids">
										</div><!-- end .col-2of10 -->
										<div class="col-2of10">
											<h4>Orchids</h4>
											<img src="holder.js/200x200" alt="Orchids">
										</div><!-- end .col-2of10 -->
										<div class="col-2of10">
											<h4>Orchids</h4>
											<img src="holder.js/200x200" alt="Orchids">
										</div><!-- end .col-2of10 -->
										<div class="col-2of10">
											<h4>Orchids</h4>
											<img src="holder.js/200x200" alt="Orchids">
										</div><!-- end .col-2of10 -->
									</div><!-- end .grid -->
								</div><!-- end .service-feature-box -->
							</section>

							<section>
								<img src="../images/wedding-04.jpg">
								<div class="service-box">
									<h3>3. Live your Life</h3>
									<div class="service-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nemo quos quas illum nam voluptas, veritatis ut delectus necessitatibus. Eveniet, dolor atque nobis provident ducimus vitae porro necessitatibus dolorem optio sit dicta quasi saepe, eaque deleniti accusamus expedita eum!</p>
									</div><!-- end .service-text -->
								</div><!-- end .service-box -->
							</section>
						</section>
					</div>

					<!--
					<div class="col-4of10">
						<section id="review-panel">
							<h2>Latest Reviews</h2>
							<section class="review">
								<div class="grid">
									<div class="col-4of10">
										<div class="review-media">
											<a href="#">
												<img src="holder.js/100x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="review-text">
											<h3>Review 1</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates. Quae modi, quia in ... </p>
											<p>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</p>
										</div>
									</div>
								</div>
							</section>
							<section class="review">
								<div class="grid">
									<div class="col-4of10">
										<div class="review-media">
											<a href="#">
												<img src="holder.js/100x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="review-text">
											<h3>Review 2</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates. Quae modi, quia in ... </p>
											<p>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</p>
										</div>
									</div>
								</div>
							</section>
							<section class="review">
								<div class="grid">
									<div class="col-4of10">
										<div class="review-media">
											<a href="#">
												<img src="holder.js/100x150">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="review-text">
											<h3>Review 3</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iure ducimus, accusamus placeat voluptates. Quae modi, quia in ... </p>
											<p>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star-half"></span>
											</p>
										</div>
									</div>
								</div>
							</section>
						</section>
					</div>
					-->
				</div>
			</div>

			
		</div>

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
					</div>
				</div>
			</div>
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4><a href="product_list.html">Order today!</a></h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();

	      $(window).load(function() {
		  $('.flexslider').flexslider({
		    animation: "slide",
		    directionNav: false,
		  });
		});
	    </script>
	</body>

</html>