<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/holder.min.js"></script>
		<script src="../js/main.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Payment Confirmed</title>	
	</head>

	<body>
		<header id="header-main" role="banner">
		    <nav id="main-nav" role="navigation">
		    	<a href="#" class="nav-toggle">MENU</a>
	        	<div class="grid">
	        		<div class="col-4of10">
	            		<a href="index.html"><img src="../images/logo-small.png" id="logo" width="100" height="100"></a>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<form id="search-form" action="#">
	              					<input role="search" type="text" name="search-box" placeholder="Search...">
	              				</form>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Products</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block active"><span class="fa fa-shopping-cart"></span> Cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div id="payment-detail">
				<h1>Your Payment was Processed!</h1>
				<p>Here's a recap of what you've ordered:</p>

				<div class="grid">
					<div class="col-5of10">
						<table class="table">
							<thead>
								<tr>
									<th>Package</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Wedding Centerpieces
									</td>
									<td>
										10
									</td>
									<td>$20.99</td>
								</tr>
								<tr>
									<td>Red Orchid</td>
									<td>
										10
									</td>
									<td>$<span class="rowTotal">10.99</span></td>
								</tr>
								<tr>
									<td>White Rose</td>
									<td>
										10
									</td>
									<td>$4.99</td>
								</tr>
								<tr>
									<td>Yellow Tulip</td>
									<td>
										10
									</td>
									<td>$4.99</td>
								</tr>
							</tbody>
						</table>
					</div><!-- end .col-5of10 -->

					<div class="col-5of10">

						<div id="delivery-form" class="payment-form">

							<!-- modified from IAT235: P03 by Sebastien Galina -->
							<form method="post" action=".">
								<table class="table">
									<thead>
										<tr><th>Delivery</th></tr>
									</thead>
									<tbody>
										<tr>
											<td>
											<div class="form-group">
												<label for="form-name-2">Address 1:</label>
												<input type="text" id="form-name-2" placeholder="123 Very Nice Road" required>
											</div>
											</td>
										</tr>
										<tr>
											<td>
											<div class="form-group">
												<label for="form-name-3">Address 2:</label>
												<input type="text" id="form-name-3" placeholder="Vancouver, BC" required>
											</div>
											</td>
										</tr>
										<tr>
											<td>
											<div class="form-group">
												<label for="form-name-3">Postal Code:</label>
												<input type="text" id="form-name-4" placeholder="A1B 2C3" required>
											</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="form-actions">
									<a href="order-complete.html" class="btn btn-primary">Send</a>
								</div>
							</form>

						</div>
					</div><!-- end .col-5of10 -->
				</div><!-- end .grid -->

			</div>
		</div>

		<footer id="footer-main">
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4>Thank you.</h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>