<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="../js/holder.min.js"></script>
		<script src="../js/cart.js"></script>

		<title>My Cart</title>	
	</head>

	<body>
		<header id="header-main">
		    <nav id="main-nav">
	        	<div class="grid">
	        		<div class="col-4of10 brand-box">
	            		<h2>Brand</h2>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<input type="text" placeholder="Search...">
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> My cart</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div id="payment-detail">
				<h1>My Cart</h1>
				<div class="grid">
					<div class="col-6of10">
						<table class="table order-form">
							<thead>
								<tr>
									<th>Package</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="product.html">Wedding Centerpieces</a></td>
									<td>
										<div class="quantity-toggle-group">
											<span class="quantity-toggle quantity-toggle-plus">
												<span class="fa fa-plus"></span>
											</span>
											<input type="text" value="10">
											<span class="quantity-toggle quantity-toggle-minus">
												<span class="fa fa-minus"></span>
											</span>
										</div>
									</td>
									<td>$20.99</td>
								</tr>
								<tr>
									<td>Red Orchid</td>
									<td>
										<div class="quantity-toggle-group">
											<span class="quantity-toggle quantity-toggle-plus">
												<span class="fa fa-plus"></span>
											</span>
											<input type="text" value="10">
											<span class="quantity-toggle quantity-toggle-minus">
												<span class="fa fa-minus"></span>
											</span>
										</div>
									</td>
									<td>$<span class="rowTotal">10.99</span></td>
								</tr>
								<tr>
									<td>White Rose</td>
									<td>
										<div class="quantity-toggle-group">
											<span class="quantity-toggle quantity-toggle-plus">
												<span class="fa fa-plus"></span>
											</span>
											<input type="text" value="10">
											<span class="quantity-toggle quantity-toggle-minus">
												<span class="fa fa-minus"></span>
											</span>
										</div>
									</td>
									<td>$4.99</td>
								</tr>
								<tr>
									<td>Yellow Tulip</td>
									<td>
										<div class="quantity-toggle-group">
											<span class="quantity-toggle quantity-toggle-plus">
												<span class="fa fa-plus"></span>
											</span>
											<input type="text" value="10">
											<span class="quantity-toggle quantity-toggle-minus">
												<span class="fa fa-minus"></span>
											</span>
										</div>
									</td>
									<td>$4.99</td>
								</tr>
							</tbody>
						</table>
					</div><!-- end .col-6of10 -->
					<div class="col-4of10">
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->
			</div><!-- end #payment-detail -->
		</div><!-- end #wrap -->

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>