<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/holder.min.js"></script>
		<script src="../js/cart.js"></script>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>My Cart (1)</title>	
	</head>

	<body>
		<header id="header-main" role="banner">
		    <nav id="main-nav" role="navigation">
	        	<div class="grid">
	        		<div class="col-4of10">
	            		<a href="index.html"><img src="../images/logo-small.png" id="logo" width="100" height="100"></a>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<form id="search-form" action="#">
	              					<input role="search" type="text" name="search-box" placeholder="Search...">
	              				</form>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block active"><span class="fa fa-shopping-cart"></span> Cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div id="payment-detail">
				<h1>My Cart</h1>
				<div class="grid">
					<div class="col-6of10">
						<div id="order-form" class="order-form">
							<table class="table">
								<thead>
									<tr>
										<th>Package</th>
										<th>Quantity</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="product.html">Wedding Centerpieces</a>
											<p><small>* 1 centerpiece = table of 10</small></p>
										</td>
										<td>
											<div class="quantity-toggle-group">
												<span class="quantity-toggle quantity-toggle-plus">
													<span class="fa fa-plus"></span>
												</span>
												<input type="text" value="10">
												<span class="quantity-toggle quantity-toggle-minus">
													<span class="fa fa-minus"></span>
												</span>
											</div>
										</td>
										<td>$20.99</td>
									</tr>
									<tr>
										<td>Red Orchid</td>
										<td>
											<div class="quantity-toggle-group">
												<span class="quantity-toggle quantity-toggle-plus">
													<span class="fa fa-plus"></span>
												</span>
												<input type="text" value="10">
												<span class="quantity-toggle quantity-toggle-minus">
													<span class="fa fa-minus"></span>
												</span>
											</div>
										</td>
										<td>$<span class="rowTotal">10.99</span></td>
									</tr>
									<tr>
										<td>White Rose</td>
										<td>
											<div class="quantity-toggle-group">
												<span class="quantity-toggle quantity-toggle-plus">
													<span class="fa fa-plus"></span>
												</span>
												<input type="text" value="10">
												<span class="quantity-toggle quantity-toggle-minus">
													<span class="fa fa-minus"></span>
												</span>
											</div>
										</td>
										<td>$4.99</td>
									</tr>
									<tr>
										<td>Yellow Tulip</td>
										<td>
											<div class="quantity-toggle-group">
												<span class="quantity-toggle quantity-toggle-plus">
													<span class="fa fa-plus"></span>
												</span>
												<input type="text" value="10">
												<span class="quantity-toggle quantity-toggle-minus">
													<span class="fa fa-minus"></span>
												</span>
											</div>
										</td>
										<td>$4.99</td>
									</tr>
								</tbody>
							</table>
							<div class="form-actions">
								<a href="payment-2.html#payment-form" class="btn btn-primary">Next</a>
							</div>
						</div>
					</div><!-- end .col-6of10 -->
					<div class="col-4of10">
						<div id="payment-form" class="payment-form collapsed">

							<!-- modified from IAT235: P03 by Sebastien Galina -->
							<form method="post" action=".">
								<table class="table">
									<thead>
										<tr><th>Payment Form</th></tr>
									</thead>
									<tbody>
										<tr>
											<td>
											<div class="form-group">
												<label>Payment Method:</label>
												<div class="grid payment-methods">
													<div class="col-4of12">
														<div class="cc-option">
															<label for="form-cc-1">
																<span class="fa fa-cc-visa"></span>
																<input type="radio" id="form-cc-1" name="form-name-1" value="visa">
																<span class="cc-name">Visa</span>
															</label>
														</div>
													</div>
													<div class="col-4of12">
														<div class="cc-option">
															<label for="form-cc-3">
																<span class="fa fa-cc-amex"></span>
																<input type="radio" id="form-cc-3" name="form-name-1" value="visa">
																<span class="cc-name">Amex</span>
															</label>
														</div>
													</div>
													<div class="col-4of12">
														<div class="cc-option">
															<label for="form-cc-2">
																<span class="fa fa-cc-mastercard"></span>
																<input type="radio" id="form-cc-2" name="form-name-1" value="visa">
																<span class="cc-name">MasterCard</span>
															</label>
														</div>
													</div>
												</div>
											</div><!-- end .form-group -->
											</td>
										</tr>
										<tr>
											<td>
											<div class="form-group">
												<label for="form-name-2">Cardholder Name:</label>
												<input type="text" id="form-name-2" placeholder="Jane Doe" required>
											</div>
											</td>
										</tr>
										<tr>
											<td>
											<div class="form-group">
												<label for="form-name-3">Credit Card Number:</label>
												<input type="text" id="form-name-3" placeholder="XXXXXXXXXXXXXXXXX" required>
											</div>
											</td>
										</tr>
										<tr>
											<td>
											<div class="grid card-details">
												<div class="col-4of12">
													<div class="form-group">
														<label for="form-name-4">Expiry Month:</label>
														<select id="form-name-4" required>
															<option value="">MM</option>
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>
													</div>
												</div>
												<div class="col-4of12">
													<div class="form-group">
														<label for="form-name-5">Expiry Year:</label>
														<select id="form-name-5" required>
															<option value="">YYYY</option>
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2019</option>
															<option value="2020">2020</option>
														</select>
													</div>
												</div>

												<div class= "col-4of12">
													<div class="form-group">
														<label for="form-name-6">Security Code:</label>
														<input type="text" id="form-name-6" placeholder="123" required>
													</div>
											    </div>
											</div><!-- end .grid -->
											</td>
										</tr>
									</tbody>
								</table>
								<div class="form-actions">
									<a href="payment-confirmed.html" class="btn btn-primary">Finish + Pay</a>
								</div>
							</form>

						</div>
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->
			</div><!-- end #payment-detail -->
		</div><!-- end #wrap -->

		<footer id="footer-main">
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4></h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>