<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/holder.min.js"></script>

		<title>Product Detail</title>	
	</head>

	<body>
		<header id="header-main">
		    <nav id="main-nav">
	        	<div class="grid">
	        		<div class="col-2of10 brand-box">
	            		<h2>Brand</h2>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-8of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<input type="text" placeholder="Search...">
	              			</div>
	              			<div class="col-2of10">
	              				<a href="#" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="#" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="#" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> My cart</a>
	              			</div>
	              		</div>
	             	</div>
	          	</div>
	        </nav>
        </header>

		<div id="wrap">
			<div id="product-detail">
		        <h1>Custom Wedding Package</h1>
		        <div class="grid">
					<div class="col-4of12">
						<img src="holder.js/400x300" width="400" height="300" alt="Wedding centerpiece">
					</div>
					<div class="col-4of12">
						<img src="holder.js/400x300?bg=090" width="400" height="300" alt="Wedding centerpiece">
					</div>
					<div class="col-4of12">
						<img src="holder.js/400x300?bg=0A0" width="400" height="300" alt="Wedding centerpiece">
					</div>
				</div>
				<p class="lead">Perfect for your fabulous winter getaway, or your spring into married life.</p>

				<div class="grid">
					<div class="col-6of10">
						<img src="holder.js/700x350" width="700" height="350">
					</div><!-- end .col-6of10 -->
					<div class="col-4of10">
						<div class="text-box">
							<h2><span class="numeric-bullet">1.</span> Treat your guests</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam dicta asperiores nihil nostrum, sunt maxime aut, eum voluptates, esse aliquam distinctio tempora ipsum quaerat saepe libero tenetur optio ipsa!</p>
						</div><!-- end .text-box -->
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->

				<div class="grid planter-box">
					<div class="col-2of10">
						<img src="holder.js/250x100/" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=9A9&fg=FFF" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=6A6&fg=EEE" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=3A3" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=0A0" width="250" height="100">
					</div>
				</div>

				<div class="grid">
					<div class="col-6of10">
						<img src="holder.js/700x350" width="700" height="350">
					</div>
					<div class="col-4of10">
						<div class="text-box">
							<h2><span class="numeric-bullet">2.</span> Treat your family</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minus id, similique culpa voluptatibus, labore, nobis, qui officiis at repellendus delectus reiciendis! Minima quia cupiditate, porro quae soluta in non dolor possimus mollitia recusandae maxime, cumque, optio. Aliquid fugit, autem!</p>
						</div><!-- end .text-box -->
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->
				<div class="grid planter-box">
					<div class="col-2of10">
						<img src="holder.js/250x100/" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=9A9&fg=FFF" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=6A6&fg=EEE" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=3A3" width="250" height="100">
					</div>
					<div class="col-2of10">
						<img src="holder.js/250x100?bg=0A0" width="250" height="100">
					</div>
				</div>
				<div class="grid">
					<div class="col-10of10">
						<div class="text-box text-box-featured">
							<h2><span class="numeric-bullet">3.</span> Treat yourself</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vel tempora ab laborum, sit possimus iure quidem eligendi. Nulla neque, quidem aspernatur exercitationem optio, molestias!</p>
						</div><!-- end .text-box -->
					</div><!-- end .col-10of10 -->
				</div><!-- end .grid -->

				<div class="order-box">
					<a class="btn btn-primary" href="#">Order now</a>
				</div>
			</div>
		</div>

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>