<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/holder.min.js"></script>

		<title>Packages</title>	
	</head>

	<body>
		<header id="header-main">
		    <nav id="main-nav">
	        	<div class="grid">
	        		<div class="col-4of10 brand-box">
	            		<a href="index.html"><h2>Brand</h2></a>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<input type="text" placeholder="Search...">
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> My cart</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div>
				<h1>Packages</h1>
		        <div class="grid" id="products-list">
		        	<!-- row 1 -->
					<div class="col-3of12">
						<div class="product-tile">
			                <a href="product.html">
			                  <img src="holder.js/200x200/" width="200" height="200">
			                  <h4>Package</h4>
			                </a>
			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			                tempor incididunt ut labore et dolore magna aliqua.</p>
			            </div>
					</div>
					<div class="col-3of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
					</div>
					<div class="col-3of12">
						<div class="product-item">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
						</div>
					</div>
					<div class="col-3of12">
						<div class="product-item">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
						</div>
					</div>
					<!-- row 2 -->
					<div class="col-3of12">
						<div class="product-tile">
			                <a href="product.html">
			                  <img src="holder.js/200x200/" width="200" height="200">
			                  <h4>Package</h4>
			                </a>
			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			                tempor incididunt ut labore et dolore magna aliqua.</p>
			            </div>
					</div>
					<div class="col-3of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
					</div>
					<div class="col-3of12">
						<div class="product-item">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
						</div>
					</div>
					<div class="col-3of12">
						<div class="product-item">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/200x200/" width="200" height="200">
				                  <h4>Package</h4>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				                tempor incididunt ut labore et dolore magna aliqua.</p>
				            </div>
						</div>
					</div>
					<!-- pagination -->
					<div class="col-10of10">
		              <div class="pagination">
		                <ul>
		                  <li><a href="#" class='active'>1</a></li>
		                  <li><a href="#">2</a></li>
		                  <li><a href="#">3</a></li>
		                  <li><a href="#">&#062;</a></li>
		                </ul>
		              </div>
		            </div>
				</div>
			</div>
		</div><!-- end #wrap -->

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, facilis.</p>
					</div>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>