				<div class="grid">
					<div class="col-6of10">
						<img src="../images/products/product-04.jpg" width="700" height="350">
					</div><!-- end .col-6of10 -->
					<div class="col-4of10">
						<div class="text-box">
							<h2><span class="numeric-bullet">1.</span> Treat your guests</h2>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam dicta asperiores nihil nostrum, sunt maxime aut, eum voluptates, esse aliquam distinctio tempora ipsum quaerat saepe libero tenetur optio ipsa!</p> -->
						</div><!-- end .text-box -->
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->

				<div class="grid">
					<div class="col-6of10">
						<img src="../images/products/product-05.jpg" width="700" height="350">
					</div>
					<div class="col-4of10">
						<div class="text-box">
							<h2><span class="numeric-bullet">2.</span> Treat your family</h2>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minus id, similique culpa voluptatibus, labore, nobis, qui officiis at repellendus delectus reiciendis! Minima quia cupiditate, porro quae soluta in non dolor possimus mollitia recusandae maxime, cumque, optio. Aliquid fugit, autem!</p> -->
						</div><!-- end .text-box -->
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->

				<div class="grid">
					<div class="col-6of10">
						<img src="../images/products/product-06.jpg" width="700" height="350">
					</div>
					<div class="col-4of10">
						<div class="text-box">
							<h2><span class="numeric-bullet">3.</span> Treat yourself</h2>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vel tempora ab laborum, sit possimus iure quidem eligendi. Nulla neque, quidem aspernatur exercitationem optio, molestias!</p> -->
						</div><!-- end .text-box -->
					</div><!-- end .col-4of10 -->
				</div><!-- end .grid -->
