<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/holder.min.js"></script>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Wedding Centerpiece</title>	
	</head>

	<body>
		<header id="header-main" role="banner">
		    <nav id="main-nav" role="navigation">
	        	<div class="grid">
	        		<div class="col-4of10">
	            		<a href="index.html"><img src="../images/logo-small.png" id="logo" width="100" height="100"></a>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<form id="search-form" action="#">
	              					<input role="search" type="text" name="search-box" placeholder="Search...">
	              				</form>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> Cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<div id="product-detail">
		        <h1>Custom Wedding Centerpiece</h1>
		        <div class="grid">
			        <div class="col-6of10 price-box">
							<span class="currency">$</span>
							<span class="numeric">20.99</span>
							<span class="unit">/each</span>
							<div class="description">
								3 breeds in bunches of 3 + 2 embellishments
							</div>
					</div>

					<div class="col-4of10">
							<img src="../images/products/centerpiece-03.jpg">
					</div>
				</div>

		        <div class="grid hero-box">
					<div class="col-4of12">
						<img src="../images/products/product-01.jpg" width="400" height="300" alt="Wedding centerpiece">
						<p>Pink is not just for girls, and it is not just a pretty color. Pink roses have deep significance when it comes to affections given and received. The most widely accepted interpretation of pink roses is grace and gentility.</p>
					</div>
					<div class="col-4of12 hidden-sm">
						<img src="../images/products/product-02.jpg" width="400" height="300" alt="Wedding centerpiece">
						<p>Although they bloom only in late spring or early summer, their glossy leaves remain an attractive backdrop to the perennial border throughout the growing season.</p>
					</div>
					<div class="col-4of12 hidden-sm">
						<img src="../images/products/product-03.jpg" width="400" height="300" alt="Wedding centerpiece">
						<p>The meainings of tulips coupled with the immediately identifiable shape of their colorful blooms make them a comfortable flower choice. They are not too elegant, too romanti, too big, too small, or too bright; the tulip is always just right.</p>
					</div>
				</div>
				<p class="lead">Perfect for your fabulous winter getaway, or your spring into married life.</p>

				<div class="order-box">
					<div class="price-box">
						<span class="currency">$</span>
						<span class="numeric">20.99</span>
						<span class="unit">/each</span>
						<div class="description">
							* each centerpiece fits a table of 10 people
						</div>
					</div>
					<div class="form-group">
						<label for="product-quantity">Quantity</label>
						<input id="product-quantity" name="product-quantity" value="10" type="text">
						<a class="btn btn-primary" href="payment.html">Add to cart</a>
					</div>
				</div><!-- end .order-box -->

				<div class="grid product-review">
					<h2>Review</h2>
			        <!-- <p>Be the first one to review this product!</p> -->
			        <div class="col-4of10">
						<section id="blogroll">
							<section class="blogpost">
								<div class="grid">
									<div class="col-4of10">
										<div class="blogpost-media">
											<a href="#">
												<img src="http://lorempixel.com/150/150/">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="blogpost-text">
											<h3>Great product!</h3>
											<p>The summer fun doesn't have to stop! Long stems of yellow snapdragons and purple larkspurs stand tall amongst the assortment of red gerbera daisies, bi-colored roses and peach mini carnations.</p>
										</div>
									</div>
								</div>
							</section>
							<section class="blogpost">
								<div class="grid">
									<div class="col-4of10">
										<div class="blogpost-media">
											<a href="#">
												<img src="http://lorempixel.com/150/150/">
											</a>
										</div>
									</div>
									<div class="col-6of10">
										<div class="blogpost-text">
											<h3>Not bad...</h3>
											<p>The summer fun doesn't have to stop! Long stems of yellow snapdragons and purple larkspurs stand tall amongst the assortment of red gerbera daisies, bi-colored roses and peach mini carnations.</p>
										</div>
									</div>
								</div>
							</section>
						</section>
					</div>

					<div class="col-6of10">
						<form id="review-form" method="get" action="#">
				          <div class="form-group">
				            <label for="form-1-1">Name</label>
				            <input id="form-1-1" type="text" name="name">
				          </div>
				          <div class="form-group">
				            <label for="form-1-2">Email</label>
				            <input id="form-1-2" type="email" name="email">
				          </div>
				          <div class="form-group">
				            <label for="form-1-3">Comment</label>
				            <textarea id="form-1-3" rows="4" name="comment"></textarea>
				          </div>
				          <div class="form-group">
				            <label for="form-1-3">Comment</label>
				            <div class="product-rating">
				            	<a href="#" class="rate-star"><i class="fa fa-star"></i></a>
				            	<a href="#" class="rate-star"><i class="fa fa-star"></i></a>
				            	<a href="#" class="rate-star"><i class="fa fa-star"></i></a>
				            	<a href="#" class="rate-star"><i class="fa fa-star"></i></a>
				            	<a href="#" class="rate-star"><i class="fa fa-star"></i></a>
				            </div>
				          </div>
				          <div class="form-group">
				            <input id="form-1-5" type="submit" value="Submit">
				          </div>
				        </form>
					</div>
				</div>


			</div>
		</div><!-- end #wrap -->

		<footer id="footer-main">
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4>Making floral gifts come to life.</h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>