<!doctype html>
<html>
	<head>
	    <link rel="stylesheet" href="../fonts/font-awesome-4.3-2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/grid.css">
		<script src="../js/holder.min.js"></script>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Packages</title>	
	</head>

	<body>
		<header id="header-main" role="banner">
		    <nav id="main-nav" role="navigation">
	        	<div class="grid">
	        		<div class="col-4of10 brand-box">
	            		<h2><a href="index.html">The Shop</a></h2>
	               		<p>Lorem ipsum dolor sit amet.</p>
	            	</div>
	            	<div class="col-6of10 nav-box">
	            		<div class="grid">
	              			<div class="col-4of10">
	              				<form id="search-form" action="#">
	              					<input role="search" type="text" name="search-box" placeholder="Search...">
	              				</form>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="about.html" class="btn btn-nav btn-block">About</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="product_list.html" class="btn btn-nav btn-block active">Packages</a>
	              			</div>
	              			<div class="col-2of10">
	              				<a href="payment.html" class="btn btn-nav btn-block"><span class="fa fa-shopping-cart"></span> Cart (1)</a>
	              			</div>
	              		</div><!-- end .grid -->
	             	</div><!-- end .col-6of10.nav-box -->
	          	</div><!-- end .grid -->
	        </nav><!-- end #nav-main -->
        </header><!-- end #header-main -->

		<div id="wrap">
			<h1>Flower Packages</h1>
	        <div id="products-list" class="grid">
	        	<div class="col-3of12">
	        		<div class="product-filter">
						<h2>Filter</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nulla harum odit expedita? Quidem, maiores!</p>
						<div class="form-group">
							<label for="filter-opt-1">
								<input type="radio" id="filter-opt-1" name="filter-1" value="Wedding">
								Wedding
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-2">
								<input type="radio" id="filter-opt-2" name="filter-1" value="Date">
								Date Night
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-3">
								<input type="radio" id="filter-opt-3" name="filter-1" value="Anniversary">
								Anniversary
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-4">
								<input type="radio" id="filter-opt-4" name="filter-1" value="Personal">
								Personal
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-5">
								<input type="radio" id="filter-opt-5" name="filter-1" value="Bouquets">
								Bouquets
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-6">
								<input type="radio" id="filter-opt-6" name="filter-1" value="Centerpieces">
								Centerpieces
							</label>
						</div>
						<div class="form-group">
							<label for="filter-opt-7">
								<input type="radio" id="filter-opt-7" name="filter-1" value="Friendships">
								Friendships
							</label>
						</div>
						<div class="form-group">
							<a class="btn btn-nav" href="payment.html">Go to checkout</a>
						</div>
	        		</div>
	        	</div><!-- end .col-3of12 -->

	        	<div class="col-9of12">
	        		<div class="grid">
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Wedding Centerpiece Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-1">
				                		<input id="product-check-1" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Wedding Centerpiece Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-2">
				                		<input id="product-check-2" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Wedding Centerpiece Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-3">
				                		<input id="product-check-3" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Anniversary Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-4">
				                		<input id="product-check-4" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Anniversary Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-5">
				                		<input id="product-check-5" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Anniversary Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-6">
				                		<input id="product-check-6" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Special Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-7">
				                		<input id="product-check-7" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Special Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-8">
				                		<input id="product-check-8" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
						<div class="col-4of12">
							<div class="product-tile">
				                <a href="product.html">
				                  <img src="holder.js/300x200/" width="300" height="200">
				                  <h4>Special Package</h4>
				                  <p class="price">$20.99/each</p>
				                </a>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				                <div class="form-group">
				                	<label for="product-check-9">
				                		<input id="product-check-9" type="checkbox">
				                		Add to cart
				                	</label>
				                </div>
				            </div>
						</div>
					</div>
				</div><!-- end .col-9of12 -->
			</div><!-- end .grid -->
		</div><!-- end #wrap -->

		<footer id="footer-main">
			<div class="grid footer-row">
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>1. Pick an occasion</h4>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>2. Find your flowers</h4>
					</div>
				</div>
				<div class="col-4of12">
					<div class="footer-feature">
						<img src="holder.js/200x200/" width="200" height="200">
						<h4>3. Live your life</h4>
					</div>
				</div>
			</div>
			<div class="footer-social">
				<div class="grid footer-row">
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-facebook fa-2x"></span>
							<h4>Facebook</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-twitter fa-2x"></span>
							<h4>Twitter</h4>
						</a>
					</div>
					<div class="col-4of12">
						<a href="#">
							<span class="fa fa-instagram fa-2x"></span>
							<h4>Instagram</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-contact">
				<div class="footer-row">
					<h4><a href="product_list.html">Order today!</a></h4>
				</div>
			</div>
		</footer>

	    <script type="text/javascript">
	      WebFontConfig = {
	        google: { families: [ 'Bree+Serif::latin', 'Questrial::latin', 'Gafata::latin' ] }
	      };
	      (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	      })();
	    </script>
	</body>

</html>